/* === Tipography Guideline === */
:root {
  --sans-font: "DM Sans", sans-serif;
  --cursive-font: 'Arima Madurai', cursive;
}

/* === Color Style Guidline === */
:root {
  --primary-color: #084c61;
  --secondary-color: #e6edef;
  --tertiary-color: #ffc857;
  --primary-color-100: #528290;
}

/* === Margin & Padding Guideline === */
:root {
  --margin-section-1: 10rem;
  --margin-section-2: 8rem;
  --margin-4: 0.25rem;
  --margin-8: 0.5rem;
  --margin-16: 1rem;
  --margin-32: 2rem;
  --margin-64: 4rem;
  --margin-96: 6rem;

  --padding-4: 0.25rem;
  --padding-8: 0.5rem;
  --padding-16: 1rem;
  --padding-24: 1.5rem;
}

@media screen and (min-width: 1366px) {
  footer {
    background-color: var(--secondary-color);
    width: 100%;
    color: var(--primary-color);
    padding-top: 4rem !important;
    padding-bottom: 2rem !important;
    border-radius: 2rem 2rem 0;
  }

  footer a {
    text-decoration: none;
    color: var(--primary-color);
    margin-bottom: .5rem;
  }

.footer-description {
  margin-right: 4rem;
}

  footer h4.title,
  .footer-description img {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  footer .footer-container {
    display: flex;
    column-gap: 6rem;
    margin-bottom: 4rem;
  }

  .footer-links,
  .footer-suku  {
    display: flex;
    flex-direction: column;
  }

  .footer-bagikan img {
    margin-top: 2rem;
    margin-right: 1rem;
  }

  p.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
