/* === Imported Fonts from Google Font === */

@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@800&family=DM+Sans:wght@400;700&display=swap");

/* === Tipography Guideline === */
:root {
  --sans-font: "DM Sans", sans-serif;
  --cursive-font: "Arima Madurai", cursive;
}

/* === Color Style Guidline === */
:root {
  --primary-color: #084c61;
  --secondary-color: #e6edef;
  --tertiary-color: #ffc857;
  --primary-color-100: #528290;
}

/* === Margin & Padding Guideline === */
:root {
  --margin-4: 0.25rem;
  --margin-8: 0.5rem;
  --margin-16: 1rem;
  --margin-32: 2rem;
  --margin-48: 3rem;
  --margin-64: 4rem;
  --margin-96: 6rem;

  --padding-4: 0.25rem;
  --padding-8: 0.5rem;
  --padding-16: 1rem;
  --padding-24: 1.5rem;
}

/* === Base Styling | Useful for any CSS file === */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--sans-font);
  color: var(--secondary-color);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@keyframes up-down {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@media screen and (min-width: 250px) and (max-width: 767px) {
  /* === Mobile Styling is Here === */
  body {
    font-size: 1rem;
  }

  section {
    margin-bottom: 8rem !important;
  }

  .layout-width {
    padding: 0 1.5rem !important;
  }

  .beranda-left .left-text h1.beranda-headline {
    font-size: 2rem !important;
  }

  .beranda-left .left-box {
    padding: 0.75rem 1rem !important;
  }

  .beranda-left .left-box .box-acara::after {
    margin: 0 1rem;
    height: 1.5rem;
  }

  .beranda-left .left-box img {
    width: 1rem;
    margin-right: 0.75rem;
  }

  .beranda-left .left-box p.content-text {
    text-align: left;
  }

  .beranda-left .left-box p.title-text {
    font-size: 0.75rem;
  }

  .beranda-right img {
    width: 80%;
  }

  /* === Styling for Section 2 === */
  section.section-2 .section-2__container {
    display: flex;
    align-items: center;
  }

  section.section-2 .section-2__container .section-2__left {
    display: flex;
    justify-content: center !important;
    margin: 0 auto;
    flex-direction: column;
  }

  .card {
    background-color: var(--secondary-color);
    width: 279px;
    padding: 1rem 1rem 1.5rem;
    color: var(--primary-color);
    border-radius: 2rem;
    margin-bottom: var(--margin-32);
  }

  .card img {
    border-radius: 1rem;
  }

  .section-2__left .card.card-left {
    margin-right: 0 !important;
  }

  .card .text-container h4.title {
    font-size: 1.5rem;
    font-family: var(--cursive-font);
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }

  h2.headline {
    font-size: 1.5rem !important;
    font-family: var(--cursive-font);
  }

  p.sub-headline {
    margin-top: 1rem;
    margin-bottom: var(--margin-64);
    max-width: 100%;
  }

  p.sub-headline br {
    display: none;
  }

  .right-bottom {
    display: flex;
  }

  .right-bottom .number-title {
    margin-right: var(--margin-16) !important;
  }

  .number-title.right {
    margin-right: 0 !important;
  }

  h3.headline {
    font-size: 1.5rem !important;
    font-weight: 700;
    color: var(--tertiary-color);
  }
  /* === End of Section 2 Styling === */

  /* === Section 3 / Suku Styling === */
  .suku-text {
    text-align: center;
  }

  .suku-card .card .text-container h4.title {
    font-size: 1.5rem !important;
    margin-top: 1rem !important;
  }
  /* === End of Section 3 Styling === */

  /* === Section 4 / Event Styling Goes Here === */
  h2.headline,
  p.sub-headline {
    text-align: center;
  }
  /* === End of Section 4 Styling === */
}
/* === End of Mobile Styling === */

/* === Tablet Styling Goes Here */
@media screen and (max-width: 1365px) {
  section {
    margin-bottom: 12.5rem;
  }

  .layout-width {
    padding: 0 2.5rem;
  }

  /* === Tablet | Section 1 Styling Goes Here === */
  .beranda-container {
    display: block;
    text-align: center;
    margin-top: var(--margin-64);
  }

  .beranda-container .beranda-left .left-text h1.beranda-headline {
    font-family: var(--cursive-font);
    font-size: 4rem;
    line-height: 1.5;
    text-align: center;
  }

  .beranda-container .beranda-left .left-text p.beranda__sub-headline {
    margin-top: var(--margin-8);
    margin-bottom: var(--margin-64);
    line-height: 1.7;
    text-align: center;
  }

  .beranda-left .left-box {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: var(--margin-64);
    padding: 1rem 2rem;
    border-radius: 0.25rem 2.5rem 0.25rem 2.5rem;
    color: var(--primary-color);
    font-weight: 700;
    width: fit-content;
  }

  .left-box img {
    margin-right: var(--margin-16);
  }

  .left-box p.title-text {
    text-align: left;
    font-size: 0.8125rem;
    color: var(--primary-color-100);
    font-weight: 400;
    margin-bottom: var(--margin-4);
  }

  .left-box .box-acara {
    display: flex;
    align-items: center;
  }

  .left-box .box-jadwal {
    display: flex;
    align-items: center;
  }

  .box-acara::after {
    content: "";
    margin: 0 2rem;
    background-color: var(--primary-color-100);
    width: 0.125rem;
    height: 2rem;
  }

  .beranda-right {
    -webkit-animation: up-down 3s infinite;
    animation: up-down 3s infinite;
  }

  .beranda-bottom {
    text-align: center;
    margin-top: var(--margin-16);
    -webkit-animation: up-down 3s infinite;
    animation: up-down 3s infinite;
  }
  /* === Tablet | Section 1 End Here === */

  /* === Section 2 Styling Goes Here === */
  section.section-2 .section-2__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  section.section-2 .section-2__container .section-2__left {
    display: flex;
    justify-content: center;
  }

  section.section-2 .section-2__container .section-2__left {
    display: flex;
    margin-top: 5rem;
  }

  .card {
    background-color: var(--secondary-color);
    width: 279px;
    padding: 1rem 1rem 1.5rem;
    color: var(--primary-color);
    border-radius: 2rem;
  }

  .card img {
    border-radius: 1rem;
  }

  .section-2__left .card.card-left {
    margin-right: 2rem;
  }

  .card .text-container h4.title {
    font-size: 1.5rem;
    font-family: var(--cursive-font);
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }

  .section-2__right {
    text-align: center;
  }

  h2.headline {
    font-size: 3rem;
    font-family: var(--cursive-font);
  }

  p.sub-headline {
    margin-top: 1rem;
    margin-bottom: var(--margin-64);
  }

  .right-bottom {
    display: flex;
    justify-content: center;
    margin-top: var(--margin-64);
  }

  h3.headline {
    font-size: 2rem;
    font-weight: 700;
    color: var(--tertiary-color);
  }

  .right-bottom .number-title {
    margin-right: var(--margin-64);
  }

  .number-title.right {
    margin-right: 0;
  }
  /* === End Styling for Section 2 === */

  /* === Styling Section 3 / Suku Goes Here === */
  section.suku .suku-text {
    text-align: center;
  }

  section.suku .suku-card {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .suku-card .card {
    width: 279px;
    padding: 1.5rem;
    margin-bottom: 0;
  }

  .suku-card .card img {
    width: 231px;
  }

  .suku-container .card .text-container h4.title {
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.25rem;
  }

  .btn {
    text-align: center;
    margin-top: 2rem;
    border-radius: 1rem;
    display: block;
  }
  /* === End Styling for Section 3 */

  /* === Section 4 / Event Styling Start Here === */
  section.event {
    display: flex;
    justify-content: center;
  }

  h2.headline,
  p.sub-headline {
    text-align: center;
  }

  .event .event-container .event-content .content-1,
  .event .event-container .event-content .content-2,
  .event .event-container .event-content .content-3 {
    padding: 1.5rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 2rem;
    margin-bottom: 2rem;
  }

  .event .event-container .event-content .content-1 .image-container img,
  .event .event-container .event-content .content-2 .image-container img,
  .event .event-container .event-content .content-3 .image-container img {
    border-radius: 1rem;
  }

  .content-1 .image-container,
  .content-2 .image-container, 
  .content-3 .image-container {
    height: 298px;
  }

  .event-description h4.title {
    font-size: 2rem;
    font-family: var(--cursive-font);
    margin-bottom: 0.25rem;
    margin-top: 1.5rem;
  }

  .event-detail {
    margin-top: 2rem;
  }

  .detail-location,
  .detail-quota,
  .detail-time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
  }

  /* === End Section 4 / Event Styling === */
}
/* === Tablet Styling End Here === */

/* === Laptop | Spesifically Styling Goes Here === */
@media screen and (min-width: 1366px) {
  section {
    margin-bottom: 12.5rem;
  }

  .layout-width {
    padding: 0 6rem;
  }

  /* === Styling for Section 1 / Beranda === */
  .beranda-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--margin-64);
  }

  .beranda-container .beranda-left .left-text h1.beranda-headline {
    font-family: var(--cursive-font);
    font-size: 4rem;
    line-height: 1.5;
  }

  .beranda-container .beranda-left .left-text p.beranda__sub-headline {
    margin-top: var(--margin-8);
    margin-bottom: var(--margin-96);
    line-height: 1.7;
  }

  .beranda-left .left-box {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 0.25rem 2.5rem 0.25rem 2.5rem;
    color: var(--primary-color);
    font-weight: 700;
    width: fit-content;
  }

  .left-box img {
    margin-right: var(--margin-16);
  }

  .left-box p.title-text {
    font-size: 0.8125rem;
    color: var(--primary-color-100);
    font-weight: 400;
    margin-bottom: var(--margin-4);
  }

  .left-box .box-acara {
    display: flex;
    align-items: center;
  }

  .left-box .box-jadwal {
    display: flex;
    align-items: center;
  }

  .box-acara::after {
    content: "";
    margin: 0 2rem;
    background-color: var(--primary-color-100);
    width: 0.125rem;
    height: 2rem;
  }

  .beranda-right {
    -webkit-animation: up-down 3s infinite;
    animation: up-down 3s infinite;
  }

  .beranda-bottom {
    text-align: center;
    margin-top: var(--margin-16);
    -webkit-animation: up-down 3s infinite;
    animation: up-down 3s infinite;
  }
  /* === End of Styling for Section 1 / Beranda === */

  /* === Styling for Section 2 === */
  section.section-2 .section-2__container {
    display: flex;
    align-items: center;
  }

  section.section-2 .section-2__container .section-2__left {
    display: flex;
    margin-right: 5rem;
  }

  .card {
    background-color: var(--secondary-color);
    width: 279px;
    padding: 1rem 1rem 1.5rem;
    color: var(--primary-color);
    border-radius: 2rem;
  }

  .card img {
    border-radius: 1rem;
  }

  .section-2__left .card.card-left {
    margin-right: 2rem;
  }

  .card .text-container h4.title {
    font-size: 1.5rem;
    font-family: var(--cursive-font);
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }

  h2.headline {
    font-size: 3rem;
    font-family: var(--cursive-font);
  }

  p.sub-headline {
    margin-top: 1rem;
    margin-bottom: var(--margin-64);
  }

  .right-bottom {
    display: flex;
  }

  .right-bottom .number-title {
    margin-right: var(--margin-64);
  }

  h3.headline {
    font-size: 2rem;
    font-weight: 700;
    color: var(--tertiary-color);
  }
  /* === End of Section 2 === */

  /* === Styling Section 3 / Suku Goes Here === */
  section.suku .suku-text {
    text-align: center;
  }

  section.suku .suku-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  .suku-card .card {
    width: 370px;
    padding: 1.5rem;
  }

  .suku-container .card .text-container h4.title {
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.25rem;
  }

  .btn {
    text-align: center;
    margin-top: 2rem;
    border-radius: 1rem;
    display: block;
  }
  /* === End Styling for Section 3 === */

  /* === Styling for Section 4 / Event === */
  section.event h2.headline,
  section.event p.sub-headline {
    text-align: center;
  }

  section.event .event-container .event-content .content-1,
  .content-2,
  .content-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }

  /* === Content 2 only === */
  .content-2 {
    flex-direction: row-reverse;
  }

  .content-2 h4.title,
  .content-2 p.description {
    text-align: right;
  }

  .content-2 .detail-location,
  .content-2 .detail-quota,
  .content-2 .detail-time,
  .content-2 .event-button {
    flex-direction: row-reverse;
  }

  .content-2 .detail-location img,
  .content-2 .detail-quota img,
  .content-2 .detail-time img,
  .content-2 .event-button {
    margin-right: 0;
  }

  .content-2 .image-container {
    margin-right: 0 !important;
    margin-left: 2rem;
  }

  .content-2 .description-container img {
    margin-left: 1rem;
  }

  /* === End Content 2 Only === */

  .event-content .image-container {
    background-color: var(--secondary-color);
    border-radius: 2rem;
    width: 577px;
    height: 346px;
    padding: 1.5rem;
    margin-right: 4rem;
  }

  .image-container img {
    border-radius: 1rem;
  }

  .event-description h4.title {
    font-size: 2rem;
    font-family: var(--cursive-font);
    margin-bottom: 0.25rem;
  }

  .event-detail {
    margin-top: 2rem;
  }

  .detail-location,
  .detail-quota,
  .detail-time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
  }

  .event-detail img {
    margin-right: 0.5rem;
  }

  .event-button {
    display: flex;
    margin-top: 1rem;
  }

  /* === End Styling for Section 4 === */
}
/* === End of Spesifically Styling === */
