/* === Imported Fonts from Google Font === */

@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@800&family=Open+Sans:wght@400;600&display=swap");

/* === Tipography Guideline === */
:root {
  --sans-font: "Open Sans", sans-serif;
  --cursive-font: "Arima Madurai", cursive;
}

/* === Color Style Guidline === */
:root {
  --primary-color: #084c61;
  --secondary-color: #e6edef;
  --tertiary-color: #ffc857;
  --primary-color-100: #528290;
}

/* === Margin & Padding Guideline === */
:root {
  --margin-section-1: 10rem;
  --margin-section-2: 8rem;
  --margin-4: 0.25rem;
  --margin-8: 0.5rem;
  --margin-16: 1rem;
  --margin-32: 2rem;
  --margin-48: 3rem;
  --margin-64: 4rem;
  --margin-96: 6rem;

  --padding-4: 0.25rem;
  --padding-8: 0.5rem;
  --padding-16: 1rem;
  --padding-24: 1.5rem;
}

/* === Base Styling | Useful for any CSS file === */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--sans-font);
  color: var(--secondary-color);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@keyframes up-down {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@media screen and (min-width: 250px) and (max-width: 767px) {
  /* === Mobile Styling is Here === */
  body {
    font-size: 1rem;
  }

  section {
    margin-bottom: var(--margin-section-2);
  }

  .layout-width {
    padding: 0 1.5rem !important;
  }

  .beranda-left .left-text h1.beranda-headline {
    font-size: 2rem !important;
  }

  .beranda-left .left-box {
    padding: 0.75rem 1rem !important;
  }

  .beranda-left .left-box .box-acara::after {
    margin: 0 1rem;
    height: 1.5rem;
  }

  .beranda-left .left-box img {
    width: 1rem;
    margin-right: 0.75rem;
  }

  .beranda-left .left-box p.content-text {
    text-align: left;
  }

  .beranda-left .left-box p.title-text {
    font-size: 0.75rem;
  }

  .beranda-right img {
    width: 80%;
  }
}
/* === End of Mobile Styling === */

/* === Tablet Styling Goes Here */
@media screen and (max-width: 1365px) {
  section {
    margin-bottom: var(--margin-section-2);
  }

  .layout-width {
    padding: 0 2.5rem;
  }

  /* === Tablet | Section 1 Styling Goes Here === */
  .beranda-container {
    display: block;
    text-align: center;
    margin-top: var(--margin-64);
  }

  .beranda-container .beranda-left .left-text h1.beranda-headline {
    font-family: var(--cursive-font);
    font-size: 4rem;
    line-height: 1.5;
    text-align: center;
  }

  .beranda-container .beranda-left .left-text p.beranda__sub-headline {
    margin-top: var(--margin-8);
    margin-bottom: var(--margin-64);
    line-height: 1.7;
    text-align: center;
  }

  .beranda-left .left-box {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: var(--margin-64);
    padding: 1rem 2rem;
    border-radius: 0.25rem 2.5rem 0.25rem 2.5rem;
    color: var(--primary-color);
    font-weight: 600;
    width: fit-content;
  }

  .left-box img {
    margin-right: var(--margin-16);
  }

  .left-box p.title-text {
    text-align: left;
    font-size: 0.8125rem;
    color: var(--primary-color-100);
    font-weight: 400;
    margin-bottom: var(--margin-4);
  }

  .left-box .box-acara {
    display: flex;
    align-items: center;
  }

  .left-box .box-jadwal {
    display: flex;
    align-items: center;
  }

  .box-acara::after {
    content: "";
    margin: 0 2rem;
    background-color: var(--primary-color-100);
    width: 0.125rem;
    height: 2rem;
  }

  .beranda-right {
    -webkit-animation: up-down 3s infinite;
    animation: up-down 3s infinite;
  }

  .beranda-bottom {
    text-align: center;
    margin-top: var(--margin-16);
    -webkit-animation: up-down 3s infinite;
    animation: up-down 3s infinite;
  }
  /* === Tablet | Section 1 End Here === */

  /* === Section 2 Styling Goes Here === */
  section.section-2 .section-2__container {
    display: flex;
    flex-direction: column-reverse;
  }

  section.section-2 .section-2__container .section-2__left {
    display: flex;
    justify-content: center;
  }

  .section-2__left .card {
    background-color: var(--secondary-color);
    width: 279px;
    padding: 1rem 1rem 1.5rem;
    color: var(--primary-color);
    border-radius: 1.5rem;
  }

  .section-2__left .card.card-left {
    margin-right: 2rem;
  }

  .card .text-container h4.title {
    font-size: 1.5rem;
    font-family: var(--cursive-font);
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }

  .section-2__right {
    text-align: center;
  }
}
/* === Tablet Styling End Here === */

/* === Laptop | Spesifically Styling Goes Here === */
@media screen and (min-width: 1366px) {
  section {
    margin-bottom: var(--margin-section-1);
  }

  .layout-width {
    padding: 0 6rem;
  }

  /* === Styling for Section 1 / Beranda === */
  .beranda-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--margin-64);
  }

  .beranda-container .beranda-left .left-text h1.beranda-headline {
    font-family: var(--cursive-font);
    font-size: 4rem;
    line-height: 1.5;
  }

  .beranda-container .beranda-left .left-text p.beranda__sub-headline {
    margin-top: var(--margin-8);
    margin-bottom: var(--margin-96);
    line-height: 1.7;
  }

  .beranda-left .left-box {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 0.25rem 2.5rem 0.25rem 2.5rem;
    color: var(--primary-color);
    font-weight: 600;
    width: fit-content;
  }

  .left-box img {
    margin-right: var(--margin-16);
  }

  .left-box p.title-text {
    font-size: 0.8125rem;
    color: var(--primary-color-100);
    font-weight: 400;
    margin-bottom: var(--margin-4);
  }

  .left-box .box-acara {
    display: flex;
    align-items: center;
  }

  .left-box .box-jadwal {
    display: flex;
    align-items: center;
  }

  .box-acara::after {
    content: "";
    margin: 0 2rem;
    background-color: var(--primary-color-100);
    width: 0.125rem;
    height: 2rem;
  }

  .beranda-right {
    -webkit-animation: up-down 3s infinite;
    animation: up-down 3s infinite;
  }

  .beranda-bottom {
    text-align: center;
    margin-top: var(--margin-16);
    -webkit-animation: up-down 3s infinite;
    animation: up-down 3s infinite;
  }
  /* === End of Styling for Section 1 / Beranda === */

  /* === Styling for Section 2 === */
  section.section-2 .section-2__container {
    display: flex;
    align-items: center;
  }

  section.section-2 .section-2__container .section-2__left {
    display: flex;
    margin-right: 5rem;
  }

  .section-2__left .card {
    background-color: var(--secondary-color);
    width: 279px;
    padding: 1rem 1rem 1.5rem;
    color: var(--primary-color);
    border-radius: 1.5rem;
  }

  .section-2__left .card.card-left {
    margin-right: 2rem;
  }

  .card .text-container h4.title {
    font-size: 1.5rem;
    font-family: var(--cursive-font);
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }

  h2.headline {
    font-size: 2rem;
    font-family: var(--cursive-font);
  }

  p.sub-headline {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  .right-bottom {
    display: flex;
  }

  .right-bottom .number-title {
    margin-right: 4rem;
  }

  h3.headline {
    font-size: 2rem;
    font-weight: 600;
    color: var(--tertiary-color);
  }
}
/* === End of Spesifically Styling === */
