@media screen and (min-width: 767px) {
  /* === Spesifically Styling Goes Here === */
  .layout-width {
    padding: 0 2.5rem;
  }

  .beranda-container {
    margin: 0 auto;
    background-color: red;
    display: block;
    margin-top: var(--margin-64);
  }

  .beranda-container .beranda-left .left-text h1.beranda-headline {
    font-family: var(--cursive-font);
    font-size: 4rem;
    line-height: 1.5;
    text-align: center;
  }

  .beranda-container .beranda-left .left-text p.beranda__sub-headline {
    text-align: center;
    margin-bottom: var(--margin-64);
  }

  .beranda-left .left-box {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 0.25rem 2.5rem 0.25rem 2.5rem;
    color: var(--primary-color);
    font-weight: 600;
    width: fit-content;
  }

  .left-box img {
    margin-right: var(--margin-16);
  }

  .left-box p.title-text {
    font-size: 0.8125rem;
    color: var(--primary-color-100);
    font-weight: 500;
    margin-bottom: var(--margin-4);
  }

  .left-box .box-acara {
    display: flex;
    align-items: center;
  }

  .left-box .box-jadwal {
    display: flex;
    align-items: center;
  }

  .box-acara::after {
    content: "";
    margin: 0 2rem;
    background-color: var(--primary-color-100);
    width: 0.125rem;
    height: 2rem;
  }

  .left-box img {
    margin-right: var(--margin-16);
  }

  .beranda-right {
    margin-top: var(--margin-64);
    display: flex;
    justify-content: center;
    animation: up-down 3s;
  }

  .beranda-bottom {
    text-align: center;
    margin-top: var(--margin-16);
  }
  /* === End of Spesifically Styling === */
}