/* === Imported Fonts from Google Font === */

@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@800&family=Open+Sans:wght@400;600&display=swap");

/* === Tipography Guideline === */
:root {
  --sans-font: "Open Sans", sans-serif;
  --cursive-font: "Arima Madurai", cursive;
}

/* === Color Style Guidline === */
:root {
  --primary-color: #084c61;
  --secondary-color: #e6edef;
  --tertiary-color: #ffc857;
  --primary-color-100: #528290;
}

/* === Margin & Padding Guideline === */
:root {
  --margin-section-1: 10rem;
  --margin-section-2: 8rem;
  --margin-4: 0.25rem;
  --margin-8: 0.5rem;
  --margin-16: 1rem;
  --margin-32: 2rem;
  --margin-64: 4rem;
  --margin-96: 6rem;

  --padding-4: 0.25rem;
  --padding-8: 0.5rem;
  --padding-16: 1rem;
  --padding-24: 1.5rem;
}

/* === Base Styling | Useful for any CSS file === */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

section {
  margin-bottom: var(--margin-section-1);
}

.layout-width {
  padding: 0 6rem;
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@keyframes up-down {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

/* === End of Base Styling === */

/* === Spesifically Styling Goes Here === */
body {
  font-family: var(--sans-font);
  color: var(--secondary-color);
  font-size: 1.125rem;
  font-weight: 500;
}

.beranda-container {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--margin-64);
}

.beranda-container .beranda-left .left-text h1.beranda-headline {
  font-family: var(--cursive-font);
  font-size: 4rem;
  line-height: 1.5;
}

.beranda-container .beranda-left .left-text p.beranda__sub-headline {
  margin-top: var(--margin-16);
  margin-bottom: var(--margin-96);
  line-height: 1.7;
}

.beranda-left .left-box {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: .25rem 2.5rem .25rem 2.5rem;
  color: var(--primary-color);
  font-weight: 600;
  width: fit-content;
}

.left-box img {
  margin-right: var(--margin-16);
}

.left-box p.title-text {
  font-size: .8125rem;
  color: var(--primary-color-100);
  font-weight: 500;
  margin-bottom: var(--margin-4);
}

.left-box .box-acara {
  display: flex;
  align-items: center;
}

.left-box .box-jadwal {
  display: flex;
  align-items: center;
}

.box-acara::after {
  content: "";
  margin: 0 2rem;
  background-color: var(--primary-color-100);
  width: .125rem;
  height: 2rem;
}
/* === End of Spesifically Styling === */